.max-width {
  max-width: 70%;
  margin: auto;
}

.item-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 45px;
}

.card {
  width: 325px;
  background-color: #7C7C7C;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 8px;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 42px;
}

.card-container {
  margin: 12px;
}

.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content h2 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #EEE5E9;
  text-transform: capitalize;
}

.card-content .precio {
  color: #eee5e9be;
  font-size: 15px;
}

.detail-buttons-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.detalle, .add-to-cart {
  padding: 5px 10px;
  background-color: #000000;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #EEE5E9;
  border: none;
  cursor: pointer;
}

.add-to-cart {
  background-color: transparent;
}
