/* 
#7C7C7C gris
#EEE5E9 crema
#CF5C36 naranja
#000000 negro
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #CF5C36;
  color: #EEE5E9;
}